@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap");
@import "tailwindcss";

/* 引入圆体字体 */
@font-face {
  font-family: "Yuanti";
  src: url("https://img.shashin.cc/font/HYZhengYuan-55W.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 優化字體載入性能 */
}

body {
  margin: 0;
  font-family: "Noto Sans TC", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 自定義字體類別 */
.font-chinese {
  font-family: "Yuanti", "Noto Sans TC", sans-serif;
}

.font-english {
  font-family: "Inter", sans-serif;
}

.font-japanese {
  font-family: "Noto Sans JP", sans-serif;
}

/* 專用於圓體的類別 */
.font-Yuanti {
  font-family: "Yuanti", sans-serif;
}
